= render partial: "projects/show_report", locals: {project: @project, project_defects: @project_defects, minor_defects: @minor_defects, medium_defects: @medium_defects, severe_defects: @severe_defects, false_positives: @false_positives, perfect_stories: @perfect_stories, stories: @stories}